.modal-create {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 340px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,1,0.5);
    z-index: 50;
    &__input {
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
        }
        input {
            border: 2px solid #333333;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 8px 18px;
            width: 176px;
            height: 26px;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_save {
            background-color: #fff;
        }
        &_disard {
            background: #C4C4C4;
        }
        & button {
            width: 200px;
            margin-top: 5px;
            border: 2px solid #333333;
            box-sizing: border-box;
            border-radius: 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 7px 15px 9px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            cursor: pointer;
        }
    }
}