.sidebar__criteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
}
.sidebar__criteria h2 {
    margin: 0;
    padding: 20px 0 10px 0;
}
.criteria {
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.5px solid #C4C4C4;
}
.criteria__item {
    display: flex;
    width: 245px;
    height: 28px;
    border-bottom: 0.5px solid #C4C4C4;
}
.criteria__type {
    text-align: left;
    margin-left: 10px;
    width: 70px;
}
.criteria__value {
    display: flex;
    align-items: center;
}
.criteria__value_button  {
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 10px;
    line-height: 14px;
    color: #333333;
    background-color: #fff;
    padding: 0px 10px;
    height: 19px;
    margin: 2px;
}
.criteria__value_button.active {
    background: #E5E5E5;
}


.slidecontainer {
    width: 245px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slidecontainer .input {
    width: 44px;
    height: 26px;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFFFFF;
}
.edit__criteria {
    width: 200px;
    height: 38px;
    background: #FFFFFF;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 32px;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    margin-top: auto;
    margin-bottom: 20px;
    cursor: pointer;
}