.switch {
  width: 45px;
  height: 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  transition: 0.2s;
  border: 2px solid #333;
}
  .switch_is-off {
    background:  #9e9e9e;
  }
  .switch_is-on {
    background: #333333;
  }

  .switch .toggle-button {
    width: 28px;
    height: 28px;
    border: 2px solid #333;
    background: white;
    margin-left: -3px;
    border-radius: 50%;
    transition: 0.15s;
  }
    .toggle-button_position-right {
      transform: translateX(18px);
    }

    .toggle-button_position-left {
      transform: translateX(0);
    }
  

