.design-aspects {
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__item {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    &__name {
        font-size: 18px;
        padding: 7px 14px;
        border: 2px solid #333333;
        box-sizing: border-box;
        border-radius: 8px;
        background: #FFFFFF;
    }
}