.related-project {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .pattern__detals_content {
        width: 245px;
    }
    button {
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        padding: 5px 10px;
        border: 2px solid #333333;
        box-sizing: border-box;
        border-radius: 28px;
        margin: 25px;
    }
}