.App_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main__header {
    width: 782px;
    height: 90px;
    border: 4px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}
.main__header h2 {
    margin: 0;
    font-size: 43px;
    line-height: 28px;
}
.main__header p {
    margin: 0;
    font-size: 22px;
    line-height: 28px;
}
.window {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.main {
    width: 790px;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main__content {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-bottom: 30px;
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.sidebar {
    width: 300px;
    border-radius: 8px;
    margin: 0 10px;
}
.sidebar h2 {
    font-size: 25px;
    line-height: 28px;
}
.sidebar__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
.sidebar__buttons button {
    width: 170px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 32px;
    margin: 5px;
    cursor: pointer;
}
.go-back {
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #000000;
}